astroid==2.6.6
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==2.0.12
click==8.1.7
colorama==0.4.6
coverage==5.5
Flask==2.0.3
future==1.0.0
idna==3.8
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
lazy-object-proxy==1.10.0
mando==0.6.4
MarkupSafe==2.1.5
mccabe==0.6.1
pylint==2.9.6
radon==5.1.0
requests==2.26.0
six==1.16.0
toml==0.10.2
urllib3==1.26.20
Werkzeug==2.0.3
wrapt==1.12.1
